@import "parameters";

.details {
    background-color: $my-darkgreen;
    color: white;
  
    h1 {
      color: white;
    }
  
    .rsvp {
      padding: .7rem 3.5rem;
      margin-bottom: 3rem;
      border-color: white !important;
      color: white !important;
  
      &:hover {
        background: $my-darkgreen-hover !important;
        color: white !important;
      }
    }
  
    .where {
      border-left: solid 1px white;
      margin-bottom: 1rem;

      .first {
        margin-top: 1rem;
      }
    }

    .when {
      margin-bottom: 1rem;
    }

    .where .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      padding-left: 1rem;
    }

    .when .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: right;
      padding-right: 1rem;
    }
  
    .register {
      margin-bottom: 3rem;
    }
  }