@import "parameters";

.heading {
  .button {
    padding: 1rem 1.3rem;
    font-size: 1.5rem;
    border: solid 2px white;
    font-weight: bold;
    color: white;

    &:hover {
      background: $transparent-white !important;
      color: black !important;
      text-decoration: none !important;
    }

    &:visited {
      color: white;
    }
  }

  h2 {
    font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
    font-size: 6rem;
    font-weight: 700;

    @media (max-width: $mobile-max-width) {
      font-size: 3rem;
    }
  }

  p {
    font-family: Savoye LET, sans-serif;;
    font-size: 2rem;
    font-weight: bold
  }
}