@import "parameters";

body {
  margin: 0;
  font-family: $default-font-family !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden {
  visibility: hidden;
}

code {
  font-family: $code-font-family, monospace;
}

// TODO: fix background image on mobile
.App-header {
  background-image:  url('../images/bw_smile.jpg') !important;
  background-attachment: fixed;
  background-color: $my-darkgrey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @media (max-width: $mobile-max-width) {
    background-image:  url('../images/bw_smile_small.jpg') !important;
  }

  /* iPad Portrait */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    background-image:  url('../images/bw_smile_ipad.jpg') !important;
  }
}

.App .btn-primary {
  border-radius: 0;
  background: transparent;
}


.rsvp {
  padding: .7rem .5rem;
  border: solid 1px black;
  color: black !important;
}

.content {
  color: $my-darkgreen2;

  .rsvp-section {
    background: $my-darkgreen2;
    width: 100%;
    color: white;

    h4 {
      padding: 3rem 2rem 0rem 2rem;
    }

    h3 {
      padding: 1rem;
    }

    .row {
      margin: 0;
    }
    h5 {
      margin-top: 2rem;
      margin-bottom: .5rem;
    }

    .rsvp {
      padding: .7rem 3.5rem;
      margin-bottom: 3rem;
      border-color: white !important;
      color: white !important;

      &:hover {
        background: $my-darkgreen2-hover !important;
        color: white !important;
      }
    }
  }
}

.centered {
  justify-content: center;
}

.our-story {
  padding-right: 30px;
  padding-left: 30px;
  color: $my-darkgreen2;

  .page-header {
    padding: 2rem 3rem 0 3rem;
  }

  .img-thumbnail {
    border: none;
    border-radius: 10px;
    padding: 1rem 3rem 1rem 3rem;
  }

  p {
    margin-bottom: 2rem;
    padding-top: 1rem;
  }

  .his-side {
    display: grid;
    align-items: center;
    justify-items: center;
  }
}

.footer {
  height: auto;
  width: 100%;
  position: relative;
  color: white;
  background-color: $my-darkgreen2;
  padding-top: 1rem;
  font-size: small;

  p {
    margin-top: 0;
    margin-bottom: .5rem;
  }
}

.page-header {
  padding: 2rem 3rem 2rem 3rem;
  color: $my-darkgreen2;
}

.details {
  background-color: $my-darkgreen2;
  color: white;

  h1 {
    color: white;
  }

  h5 {
    padding-bottom: 1rem;
  }

  p {
    padding: 0 8rem;
  }

  .rsvp {
    padding: .7rem 3.5rem;
    margin-bottom: 3rem;
    border-color: white !important;
    color: white !important;

    &:hover {
      background: $my-darkgreen2-hover !important;
      color: white !important;
    }
  }

  .where {
    border-left: solid 1px white;
    margin-bottom: 3rem;
  }

  .register {
    margin-bottom: 3rem;
  }
}

.getting-there {

  h5 {
    font-weight: 600;
  }

  h6 {
    font-weight: 600;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
  }

  .description {
    margin-bottom: 2rem;
  }

  .img-thumbnail {
    margin-bottom: 2rem;
  }
}