@import "parameters";

.home-navbar .bg-dark {
  background: #212529 !important;
  position: relative;
}

.home-navbar .navbar {
  .navbar-text .rsvp-button {
    padding: .7rem .5rem;
    border: solid 1px white;

    &:hover {
      background: #484b4e !important;
      text-decoration: underline;
    }

    &:visited {
      color: white;
    }
  }
}

// Navbar headings
.home-navbar .navbar-dark .navbar-nav .nav-link {
  color: $my-off-white;

  &:focus, &:hover {
    color: white;
    text-decoration: underline;
  }
}
