// Colours:
$old-my-darkgreen: #163e3a;
$my-darkgreen: #195344;
$my-darkgreen-hover: #217664;
// TODO: decide on green and colour pallet. Other green
// $my-darkgreen2: rgb(22, 62, 58);
// $my-darkgreen2-hover: #20524d;
$my-grey: #1d2124;
//$my-darkgrey: #282c34;
$my-darkgrey: #163e3a;
$transparent-white: rgba(255,255,255,.3);
$my-off-white: #dae0e5;

// sizes
$mobile-max-width: 660px;
$md-breakpoint: 768px;

// Fonts
$test-new-font: mrs-eaves;
$default-font-family: mrs-eaves;
$test-2-new-font: proxima-nova, Helvetica Neue,Helvetica,Arial,sans-serif;
$default-heading-font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
$code-font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
$medium-heading-font-family: Savoye LET, sans-serif;
