@import "parameters";

.app-header-confirm {
  background-image:  url('../images/bw_laugh_crop.jpg') !important;
  background-repeat: no-repeat;
  background-position: top;
  background-color: $my-darkgreen;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @media (max-width: $mobile-max-width) {
    background-image:  url('../images/bw_laugh_crop.jpg') !important;
    background-size: cover;
    background-position: center;
  }

  /* iPad Portrait */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    background-image:  url('../images/bw_laugh_crop.jpg') !important;
  }
}

.confirm {
  color: $my-darkgreen;
}

.confirm-image {
  justify-content: center;

  .img-thumbnail {
    border: none;
    border-radius: 10px;
    padding: 0 3rem 1rem 3rem;
    transform: rotate(5deg);
    margin-bottom: 2rem;
  }
}

.app-header {
  background-image:  url('../images/bw_smile.jpg') !important;
  background-repeat: no-repeat;
  background-position: top;
  background-color: $my-darkgreen;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @media (max-width: $mobile-max-width) {
    background-image:  url('../images/bw_smile_small.jpg') !important;
  }

  /* iPad Portrait */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    background-image:  url('../images/bw_smile_ipad.jpg') !important;
  }

  .h1 {
    font-size: 4rem
  }
}

.food-choice {
  display: flex;
  flex-direction: column;
}

.food-choice-label {
  display: flex;
  font-weight: 600;
}

.food-choice-container {
  margin-bottom: 2rem;
}

.rsvp-page {
  margin-top: 2rem;
  padding-right: 10%;
  padding-left: 10%;
  @media (max-width: $mobile-max-width) {
    padding-right: 0;
    padding-left: 0;
  }

  .title {
    font-weight: bold;
  }

  .description {
    margin-bottom: 2rem;
  }

  .errorMessage {
    padding-top: 1rem;
  }

  @media (max-width: $mobile-max-width) {
    margin-top: 3rem;
  }

  .hidden {
    visibility: hidden;
  }

  .button {
    font-family: $default-font-family;
    padding: .7rem .5rem;
    background-color: $my-darkgreen;
    color: #f8f9fa !important;
    width: 100%;
    cursor: pointer;
    border-radius: 0.7rem;
    &:hover {
      background: $my-darkgreen-hover !important;
      color: white !important;
    }
  }

  .page-header {
    padding: 0 0 1.5rem 0;
    align-items: flex-start;
    display: flex;
  }

  .form-container {
    @media (max-width: $mobile-max-width) {
      order: 2
    }
  }

  .wedding-detail-container {
    @media (max-width: $mobile-max-width) {
      order: 1;
      margin-bottom: 2rem;
    }
  }

  .wedding-details-box {
    font-family: $default-font-family;
    text-align: left;
    background-color: $my-darkgreen;
    color: white;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.7rem;
    hr {
      border-color: white;
    }

    @media (max-width: $mobile-max-width) {
      order: 1;
      margin-bottom: 2rem;
    }
  }

  .form-group {
    margin-bottom: 2rem;
    label {
      display: flex;
      font-weight: 600;
    }
  }

  .form-check {
    margin-bottom: 1rem;
  }

  form {
    margin-bottom: 2rem;
    .form-control {
      border-radius: 0;
    }
  }

  .img-thumbnail {
    border: none;
    border-radius: 10px;
    width: 50%;
    padding-bottom: 5.5rem;
    @media (max-width: $mobile-max-width) {
      width: 100%;
      padding-bottom: 3rem;
    }
  }
}

.content {
  color: $my-darkgreen;

  .invite-section {
    background: $my-darkgreen;
    width: 100%;
    color: white;

    h4 {
      padding: 3rem 2rem 0rem 2rem;
      font-family: Savoye LET, sans-serif;
      font-size: 2rem;
    }

    h3 {
      padding: 1rem;
    }

    .row {
      margin: 0;
    }
    h5 {
      margin-top: 2rem;
      margin-bottom: .5rem;
    }

    .rsvp {
      padding: .7rem 3.5rem;
      margin-bottom: 3rem;
      border-color: white !important;
      color: white !important;

      &:hover {
        background: $my-darkgreen-hover !important;
        color: white !important;
      }
    }
  }
}