body {
  margin: 0;
  font-family: Didot !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

// Colours:
// Dark green: #062f0f
// Grey: #1d2124

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Vip-header {
  background-image:  url('images/bw_smile.jpg') !important;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @media (max-width: 660px) {
    background-image:  url('images/bw_smile_small.jpg') !important;
  }

  /* iPad Portrait */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    background-image:  url('images/bw_smile_ipad.jpg') !important;
  }

  .heading h2 {
    font-size: 10rem;
    font-family: Didot;
    margin-bottom: -38px;
  }

  .heading p {
    font-size: 3.7rem;
    font-family: P22 Dearest Pro;
    color: white;
    font-weight: bold;

    @media (max-width: 660px) {
      font-size: 1.4rem;
    }

  }
}

.Vip-Content {
  .row {
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h1 {
    padding: 10px;
    margin-bottom: -10px;
  }

  p {
    padding-right: 10px;
    padding-left: 10px;
  }

  .img-thumbnail {
    border: none;
    border-radius: 10px;
  }

  @media (max-width: 660px) {
    .text-1 {
        order: 1;
    }
    .image-1 {
        order: 2;
    }
    .text-2 {
        order: 3;
    }
    .image-2 {
        order: 4;
    }
    .text-3 {
        order: 5;
    }
    .image-3 {
        order: 6;
    }
}
}

.home-navbar .bg-dark {
  background: #212529 !important;
  position: relative;
}

.home-navbar .navbar-light .navbar-nav .nav-link {
  background: transparent;
  color: white;

  &:hover {
    text-decoration: underline;
    color: white;
  }

  &:focus {
    color: white;
    text-decoration: underline;
  }
}

.home-navbar .navbar-light .navbar-brand {
  background: transparent;
  color: white;

  &:hover {
    color: white;
  }

  &:focus {
    color: white;
  }
}

.home-navbar .navbar-text a {
  color: black;

  &:focus {
    color: white;
    text-decoration: underline;
  }

  &:visited {
    color: white;
    text-decoration: underline;
  }
}

.App .btn-primary {
  border-radius: 0;
  background: transparent;
}

.home-navbar .btn-primary {
  border-color: white;
  color: white;

  &:hover {
    background: white;
    border-color: black;
    color: black;
  }

  &:active {
    background: white;
    border-color: black;
    color: black;
  }

  &:after {
    background: white;
    border-color: black;
    color: black;
  }

  &:focus {
    background: white;
    border-color: black;
    color: black;
  }
}

.home-navbar .navbar-light .navbar-toggler {
  background: white;
  border-color: black;;

  &:hover {
    background: black;
    border-color: white;
  }
}

.heading .btn-primary {
  border-color: white;
  color: white;
  padding: 1rem 1.3rem;

  &:hover {
    background: white;
    border-color: black;
    color: black;
  }

  &:active {
    background: white;
    border-color: black;
    color: black;
  }

  &:after {
    background: white;
    border-color: black;
    color: black;
  }

  &:focus {
    background: white;
    border-color: black;
    color: black;
  }
}

.heading h2 {
  font-size: 3rem;
  font-weight: 700;
}

.content .btn-primary {
  border-color: black;
  color: black;

  &:hover {
    background: black;
    border-color: white;
    color: white;
  }

  &:active {
    background: black;
    border-color: grey;
    color: grey;
  }

  &:after {
    background: black;
    border-color: white;
    color: white;
  }

  &:focus {
    background: black;
    border-color: white;
    color: white;
  }
}

.content h3 {
  padding: 30px;
}

.content .row {
  margin-top: 50px;
  margin-bottom: 50px;
}

.vip h3 {
  padding: 30px;
}

.vip .row {
  margin-top: 50px;
  margin-bottom: 50px;
}

.centered {
  justify-content: center;
}

.ourStory .col-6 {
  padding-right: 30px;
  padding-left: 30px;
}

.footer {
  height: auto;
  width: 100%;
  position: relative;
  color: white;
  background-color: #062f0f;
  padding-top: 20px;

  p {
    margin-top: -10px;
    padding-left: 10px;
  }
}

.page-header {
  padding: 50px;
}
